spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/integradb
    username: integra
    password: integrapass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
        show_sql: true

  jackson:
    deserialization:
      fail-on-unknown-properties: true